
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Code:wght@300&family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Fira Code', monospace;

}
 
.main{
  background-color: #00656e;
}
#parallax {
    background-image: url('imagenes/devoloper.jpg');
    background-color: black;
    background-attachment: fixed;
    background-position-y: -0.2;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

 .cv{
    display: flex;
    margin: auto;
    margin-top: 60px;
    width: 150px;
    background: #00656e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }

.contenedor{
  height: 550px;
  width: 100%;
}

.logo{
  letter-spacing: 15px;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
}
.container{  
  width: 85%;
  margin: auto;
  
}
.header{
  display: block;
  background: #00cfcc;
  color: white; 
  padding: 10px 0;
  /* position: fixed; */ /* Si queremos el menu fijo en la parte superior */
  left: 0;
  top: 0;
  width: 100%;

}

.header a{
  color: white;
  text-decoration: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation ul li{ 
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 2rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 40px;
}

.navigation ul li a:hover{
  background: #00656e;
}

.menu-icon{
  display: none;
}
.nombre{
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.texto{
  font-size: 25px;
  position: relative;
  top: 50%;
  text-align: center;
  letter-spacing: 6px;
  color: antiquewhite;
}
section.about{
  height: 100vh;
}

section.skills{
  height: 100vh;
}


.titulo{
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 100px auto 100px;
  text-shadow: rgb(74, 114, 226) 1px 0px 5px;
  /* background-color: rgb(0, 67, 122); */
  padding: 5px 0 5px;
  border-radius: 10px 0px 10px;
  -webkit-border-radius: 10px 0px 10px;
  -moz-border-radius: 10px 0px 10px;
  -ms-border-radius: 10px 0px 10px;
  -o-border-radius: 10px 0px 10px;
}
p{
  color: white;
  font-size: 18px;
  text-align: center;
}
.arrow{
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  
  color: rgb(20, 122, 218);
}
.arrowfinal{
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 15vh;
  color: rgb(20, 122, 218);
}

/* Estilos de section proyectos */
.box{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  row-gap: 70px;
}
.card{
  position: relative;
  width: 400px;
  height: 550px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}


.card .imgBx{
position: absolute;
top: 40px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}
.title{
  margin-top: 0;
  font-size: 30px;
  color: #00cfcc;
  text-align: center;
}

.card:hover .imgBx
{
  bottom: 150px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 120px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 15px;
 color: #777;
 text-transform: uppercase;
} 
.card .details h3{
  margin-top: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
 } 
 .card .details .etiquetas{
  display: inline-flex;
 }
 .card .details i.icon{
  font-size: 25px;
  color: #0b8caf;
  text-align: inherit;
 }

 .etiqueta{
  background-color: #00cfcc;
  margin: 5px;
 }

.card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 
/* Estilos de seccion "Skills" */

.skills_container{ 
  width: 80%;
  margin: auto;
}
.imagenes{
  margin: auto;
}
.skills_container .imagenes{
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 20px;
row-gap: 50px;
justify-content: center;
}

.imagen{
  cursor: pointer;
  width: 150px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.imagen:hover{
  transition: 1s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}


/* Estilos de animacion scroll */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/* Estilos del footer */


.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact  h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.containers{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.containers .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.containers .contactinfo .box_footer{
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.containers .contactinfo .box_footer .icon{
  min-width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.containers .contactinfo .box_footer .text .ficons{
  display: flex;
  justify-content: center;
}
.containers .contactinfo .box_footer .text .ficon{
  font-size: 30px;
  margin-right: 10px;
}
.fa-brands{
  color: white;
}
.containers .contactinfo .box_footer .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.containers .contactinfo .box_footer .text h3{
  font-weight: 500px;
  color: #00bcd4;
}



.contactform{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactform .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  resize: none;
  outline: none;
}
.contactform .inputbox span{
  position: absolute;
  left: 0;
  pointer-events: none;
  color: #666;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/* Responsive */
@media only screen and (min-width: 1024px) {
  .skills_container .imagenes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
}
}
@media only screen and (max-width: 990px) {
  .contact{
    padding: 50px;
  }
  .containers{
    flex-direction: column;
  }
  .containers .contactinfo{
    margin-bottom: 40px;
  }
  .containers .contactinfo,.contactform{
    width: 100%;
  }
  


  .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: auto;
}

.navigation{
    width: 100%;
    margin-top: 1rem;
}

.navigation ul{
    width: 85%;
    display: none;
}

.navigation ul.show{
    display: block;
}


.navigation ul li{
display: block;
}

.navigation ul li a{
text-align: center;
width: 150px;
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
margin-left: 42.5%;
margin-bottom: 10px;
}

.navigation ul li a:hover{
background: #00656e;
}

}
@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 600px) {
  #parallax{
    background-position-x: -200px;
}
.skills_container .imagenes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  justify-content: center;
}
section.proyectos{
  margin-top: 300px;
}
section.skills{
  margin-top: 300px;
}
}
@media only screen and (max-width: 450px) {
  #parallax{
    background-position-x: -300px;
}

.box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  row-gap: 70px;
  justify-content: center;
}
.card{
  position: relative;
  width: 400px;
  height: 550px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}


.card .imgBx{
position: absolute;
top: 40px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}
.title{
  margin-top: 0;
  font-size: 30px;
  color: #00cfcc;
  text-align: center;
}

.card:hover .imgBx
{
  bottom: 150px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}

@media only screen and (max-width: 400px) {


}