
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Rock+Salt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Code:wght@300&family=Rock+Salt&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Fira Code', monospace;

}
 
.main{
  background-color: #00656e;
}
#parallax {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg');
    background-color: black;
    background-attachment: fixed;
    background-position-y: -0.2;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.contenedor{
  height: 550px;
  width: 100%;
}

.logo{
  letter-spacing: 15px;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
}
.container{  
  width: 85%;
  margin: auto;
  
}
.header{
  display: block;
  background: #00cfcc;
  color: white; 
  padding: 2rem 0;
  /* position: fixed; */ /* Si queremos el menu fijo en la parte superior */
  left: 0;
  top: 0;
  width: 100%;

}

.header a{
  color: white;
  text-decoration: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.navigation ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation ul li{ 
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 2rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 40px;
}

.navigation ul li a:hover{
  background: #00656e;
}

.menu-icon{
  display: none;
}
.nombre{
  font-weight: bolder;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.texto{
  font-size: 25px;
  position: relative;
  top: 50%;
  text-align: center;
  letter-spacing: 6px;
  color: antiquewhite;
}
section.about{
  height: 100vh;
}

section.skills{
  height: 100vh;
}


.titulo{
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 50px auto 100px;
  text-shadow: rgb(74, 114, 226) 1px 0px 5px;
  /* background-color: rgb(0, 67, 122); */
  width: 400px;
  padding: 5px 0 5px;
  border-radius: 10px 0px 10px;
  -webkit-border-radius: 10px 0px 10px;
  -moz-border-radius: 10px 0px 10px;
  -ms-border-radius: 10px 0px 10px;
  -o-border-radius: 10px 0px 10px;
}
p{
  color: white;
  font-size: 18px;
  text-align: center;
}
.arrow{
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 50px;
  color: rgb(20, 122, 218);
}
.arrowfinal{
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 15vh;
  color: rgb(20, 122, 218);
}

/* Estilos de section proyectos */
.titulo_proyecto{
  text-decoration: none;
  text-align: center;
  color: #00cfcc;
}
.proyecto1{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.img_proyecto{
  width: 500px;
  border: solid 10px whitesmoke;
}
a.view{
  text-decoration: none;
  background-color: #00cfcc;
  color: whitesmoke;
  padding: 5px;
}
.icons{
  width: 40px;
  height: 40px;
  background-color: #00cfcc;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
}
.git{
  display: flex;
  font-size: 30px;
  color: white;
  align-items: center;
  text-decoration: none;
  align-content: center;
}
.content {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(48, 48, 48, 0.64);
  position: absolute;
  height: 88.3%;
  width: 100%;
  left: 0;
  bottom: 5px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.etiquetas{
  display: flex;
  bottom: -85px;
  position: relative;
  justify-content: center;
}
.etiqueta{
  background-color: #00cfcc;
  padding: 5px;
  margin: 2px;
  color: white;
}
/* Estilos de seccion "Skills" */

.skills_container{ 
  width: 80%;
  margin: auto;
}
.imagenes{
  margin: auto;
}
.skills_container .imagenes{
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 20px;
row-gap: 50px;
}

.imagen{
  width: 150px;

}

/* Estilos de animacion scroll */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/* Estilos del footer */
.footer{
  height: 100px;
  display: flex;
  color: aliceblue;
  font-size: 30px;
  background-color: #00424b;
}
.fa{
  margin-right: 10px;
  font-size: 40px;
}
.redes{
  font-size: 18px;
}
footer div.column1{
  width: 49%;
  height: 90%;
  top: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer div.column2{
  width: 49%;
  display: flex;
  height: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.icons_footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
footer a{
  margin-left: 10px;
}

/* Responsive */
@media only screen and (max-width: 750px) {
  
  .menu-icon{
      display: block;
      cursor: pointer;
      padding: 0.5rem 1rem;
  }
  
  .navigation{
      width: 100%;
      margin-top: 1rem;
  }
  
  .navigation ul{
      width: 85%;
      display: none;
  }
  
  .navigation ul.show{
      display: block;
  }
  

.navigation ul li{
  display: block;
}

.navigation ul li a{
  text-align: center;
  width: 150px;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  margin-left: 42.5%;
  margin-bottom: 10px;
}

.navigation ul li a:hover{
  background: #00656e;
}
#parallax{
  background-position-x: -150px;
}
 
}

@media only screen and (max-width: 600px) {
  #parallax{
    background-position-x: -300px;
}
.skills_container .imagenes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
}
@media only screen and (max-width: 450px) {
  #parallax{
    background-position-x: -400px;
}

}
@media screen and (max-width: 500px) {

}